$DarkCyan: rgb(14, 135, 132);
$DarkGreyBlue: rgb(51, 61, 75);
$PaleOrange: rgb(253, 214, 186);
$LightCream: rgb(254, 252, 247);
$Grey: rgb(131, 136, 143);
$primary-color: #3498db;
$Black: rgb(51, 61, 75);

h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: $LightCream;
  text-align: center;
}
p {
  font-family: "Barlow", serif;
  font-size: 16px;
  font-weight: 300;
}
.container {
  background-color: $LightCream;
}

.descriptionSectionAboutUs {
  background-image: url("assets/about/desktop/image-hero-whitecup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  height: 35rem;

  h1 {
    font-size: 40px;
    text-align: left;
    font-weight: 900;
    width: 500px;
    line-height: 48px;
  }

  p {
    width: 40%;
    text-align: left;
    padding: 3% 0;
  }
  button {
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 5%;
  }
}

// Our commitmenet

.OurComm {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin: 10% auto;

  .leftSide {
    margin-left: 10%;
    img {
      border-radius: 10px;
    }
  }
  .rightSide {
    text-align: left;
    margin-right: 10%;
    margin-top: 5%;
  }

  h1 {
    color: $Black;
    padding-bottom: 10%;
    text-align: left;
  }
  p {
    color: $Black;
  }
}

// Uncompromising quality

.Uncomp {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin: 20% auto;
  background-color: $Black;
  border-radius: 10px;
  position: relative;

  .leftSide {
    text-align: left;
    margin-left: 5%;
    margin-top: 7%;
  }

  h1 {
    padding-bottom: 10%;
    text-align: left;
    font-size: 40px;
    line-height: 48px;
  }

  p {
    line-height: 26px;
    text-align: left;
    width: 80%;
  }
  .rightSide {
    position: relative;
    display: flex;
    img {
      position: relative;
      top: -20%;
      right: 15%;
      border-radius: 10px;
    }
  }
}

// Our Headquarters

.Ourheadquarters {
  margin: 8%;

  h1 {
    font-size: 24px;
    text-align: left;
    color: $Grey;
    padding: 5% 0;
    line-height: 32px;
  }

  .bigTitle {
    color: $PaleOrange;
    font-size: 72px;
  }

  .smallerTitle {
    font-size: 32px;
    line-height: 36px;
    color: $Black;
  }

  p {
    color: $Black;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 70%;
  }
  .container-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;

    .container {
      width: 35%;
      height: auto;
      border-radius: 10px;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  // First part
  .descriptionSectionAboutUs {
    height: 35rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }

    h1 {
      font-size: 28px;
      text-align: center;
      padding-top: 5%;
      z-index: 2;
      width: 100%;
    }
    p {
      text-align: center;
      width: 100%;
      font-size: 15px;
      z-index: 2;
      font-size: 15px;
      text-align: center;
    }
    .button {
      z-index: 2;
      margin: 0 15%;
      width: 250px;
      height: 75px;
      font-size: 18px;
      margin: 20% 20%;
    }
  }
}
