$DarkCyan: rgb(14, 135, 132);
$DarkCyanClicked: rgb(102, 210, 207);
$DarkGreyBlue: rgb(51, 61, 75);
$PaleOrange: rgb(253, 214, 186);
$LightCream: rgb(254, 252, 247);
$Grey: rgb(131, 136, 143);
$primary-color: #3498db;
$Black: rgb(51, 61, 75);

h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: $LightCream;
  text-align: center;
}
p {
  font-family: "Barlow", serif;
  font-size: 16px;
  font-weight: 300;
}
.button {
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: $DarkCyanClicked;
}
.container {
  background-color: $LightCream;
  max-width: 100vw;
}

.descriptionSection {
  background-image: url("../..assets/home/desktop/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  position: relative;

  h1 {
    font-size: 72px;
    text-align: left;
    font-weight: 900;
    width: 500px;
  }

  p {
    width: 400px;
    text-align: left;
    padding-bottom: 5%;
  }
  button {
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 5%;
  }
}

/// Coffee Section

.Coffe-Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  position: relative;

  .Coffee-window {
    background-color: transparent;
  }
  .BackTitle {
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0),
      rgb(254, 252, 247) 100%
    );
    font-family: "Fraunces", serif;
    font-size: 150px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: center;
    width: 100%;
    top: -5rem;
    text-transform: lowercase;
    color: rgba(131, 136, 143, 0.15);
    left: 50%;
    transform: translateX(-50%);
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(254, 252, 247, 1),
      rgba(254, 252, 247, 0.2)
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(254, 252, 247, 1),
      rgba(254, 252, 247, 0.1)
    );
  }

  .Coffee-image {
    background: transparent;
    width: 100%;
  }
}

// Why choose us
.ChooseUs {
  border-radius: 10px;
  background: rgb(44, 52, 62);
  width: 100%;
  max-width: 100%;
  height: 40rem;
  color: $LightCream;
  margin-top: 10%;

  h1 {
    font-size: 40px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding-top: 7%;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    width: 45%;
    font-weight: 200;
    margin: 0 auto;
    padding-top: 5%;
  }
}

.CardContainer {
  margin-top: -15%;
  margin-left: 5%;
  margin-right: 5%;

  .CardModel {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: $DarkCyan;
    margin: 5% 4%;
  }

  .SvgImage {
    width: 75px;
    height: 75px;
    background-color: lightgray;
    margin: 30px auto 30px;
  }
  h1 {
    padding: 10%;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }
  p {
    padding: 10%;
  }

  .SvgImage {
    background-color: transparent;
  }
}

// How It works
.HowItWorksSegment {
  margin: 8% 3%;
  height: auto;

  .subscription-steps {
    padding: 60px 40px;
    color: white;
    border-radius: 4px;
    position: relative;

    .button {
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  .steps-row {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .progress-line {
    position: absolute;
    top: 12px;
    left: 0;
    right: 30%;
    height: 2px;
    background-color: $PaleOrange;
    z-index: 1;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30%;
    position: relative;
    z-index: 2;
  }

  .step-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #3aaaa8;
    background-color: $LightCream;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
    color: $Black;
  }

  h1 {
    font-size: 24px;
    text-align: left;
    color: $Grey;
    padding-bottom: 10%;
    line-height: 32px;
  }

  .bigTitle {
    color: $PaleOrange;
    font-size: 72px;
    margin-top: 20%;
  }

  .smallerTitle {
    font-size: 32px;
    line-height: 36px;
    width: 70%;
    color: $Black;
  }
}

//  For The Mobile :

@media (max-width: 768px) {
  // First part
  .descriptionSection {
    height: auto;
    position: relative;
    margin: 0 5px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }

    h1,
    p,
    button {
      position: relative;
      z-index: 2;
      width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 40px;
      margin-top: 20%;
    }

    p {
      opacity: 0.7;
    }
  }

  // Coffee Section

  .Coffe-Section {
    margin-top: 20rem;
    .BackTitle {
      width: 100%;
      font-size: 50px;
      line-height: 72px;
      background: linear-gradient(
        180deg,
        rgba(254, 252, 247, 0.2),
        rgb(254, 252, 247) 10%
      );
      transform: translateX(-50%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(254, 252, 247, 1),
        rgba(254, 252, 247, 0.1)
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(254, 252, 247, 1),
        rgba(254, 252, 247, 0.3)
      );
      color: rgba(131, 136, 143, 0.55);
      top: -8rem;
    }

    margin-bottom: 10px;
  }

  // HowItWorks Segment
  .HowItWorksSegment {
    width: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
    margin: 5% 3% 40% 3%;

    .subscription-steps {
      padding: 0 20px 60px 10px;
      color: white;
      border-radius: 4px;
      position: relative;
    }
    .forMobile {
      width: 100%;
      text-align: center;
      padding: 10% 0 0 0;
    }

    .smallerTitle {
      width: 100%;
      text-align: center;
      align-items: center;
    }
    .bigTitle {
      width: 100%;
      text-align: center;
      align-items: center;
      margin-top: 10%;
    }

    p {
      width: 100%;
      text-align: center;
      align-items: center;
    }
    .steps-row {
      flex-direction: column;
      align-items: center;
    }

    .progress-line {
      display: none;
    }

    .step {
      width: 100%;
    }
    .step-circle {
      display: none;
    }
  }

  /// Why choose us
  .ChooseUs {
    h1,
    p {
      width: 90%;
      margin: 10% 5%;
      text-align: center;
    }

    h1 {
      padding-top: 20%;
      font-size: 28px;
      line-height: 28px;
    }
    p {
      font-size: 15px;
      letter-spacing: 0px;
      line-height: 25px;
      opacity: 0.8;
    }
  }
  .CardContainer {
    .CardModel {
      margin: 5% 0;
      &:first-child {
        margin: 0;
      }
      &:last-child {
        margin-bottom: 15%;
      }
    }

    .SvgImage {
      margin: 60px auto 40px;
    }
    h1 {
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-size: 15px;
      padding: 15%;
    }
  }

  // HowItWorks Segment
  .HowItWorksSegment {
    .step {
      .bigTitle {
        margin-top: 30%;
      }
      .step:first-child .bigTitle {
        margin-top: 0;
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  // Our Coffe

  .Coffe-Section {
    .row {
      margin-top: 200px;
    }
    .BackTitle {
      top: -25rem;
      line-height: 150px;
    }
  }
  .Coffee-window {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 20px;
    max-width: 100%;
    margin: 2%;
    .Coffee-description {
      max-width: 70%;
    }
    .Coffee-image {
      flex-shrink: 0;
      margin-left: 10%;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      h1 {
        font-size: 24px;
        margin: 0;
        text-align: left;
      }

      p {
        font-size: 15px;
        margin-top: 30px;
        opacity: 0.8;
        text-align: left;
        width: 100%;
      }
    }
  }

  //  Why Choose us
  .ChooseUs {
    h1,
    p {
      width: 70%;
    }
    h1 {
      padding-top: 10%;
      font-size: 32px;
      line-height: 48px;
    }
    p {
      line-height: 25px;
      font-size: 15px;
    }
  }

  .CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .CardModel {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      gap: 20px;
      max-width: 100%;
      margin: 2%;

      .SvgImage {
        flex-shrink: 0;
        width: 75px;
        height: auto;
        margin-left: 10%;
      }

      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        h1 {
          font-size: 24px;
          margin: 0;
          text-align: left;
          padding: 10% 0 0 10%;
        }

        p {
          font-size: 15px;
          margin-top: 5px;
          opacity: 0.8;
          padding: 5% 0 10% 10%;
        }
      }
    }
  }
}
