$PaleOrange: rgb(253, 214, 186);

.bottom {
  background-color: rgb(44, 52, 62);
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  .Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: white;
  }

  .combinedBeans {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .firstBean {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 35px;
    top: 15px;
    transform: rotate(-10deg);
    z-index: 0;
    pointer-events: none;
    background-color: rgb(44, 52, 62);
  }

  .secondBean {
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(-80deg);
    left: 40px;
    top: 20px;
    z-index: 1;
    pointer-events: none;
    border-radius: 100%;
    background-color: rgb(44, 52, 62);
  }

  .logoText {
    font-size: 24px;
    font-weight: bold;
    color: white !important;
    font-family: "Fraunces", serif;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-family: "Barlow", serif;
  }

  .tags a {
    font-weight: 600;
    color: rgb(131, 136, 143);
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .tags a:hover {
    color: white;
  }

  .socials {
    display: flex;
    gap: 20px;
    color: white;

    a {
      color: white;
      transition: color 0.3s ease;
      :hover {
        color: $PaleOrange;
      }
    }
  }
}
