$DarkCyan: rgb(14, 135, 132);
$DarkCyanClicked: rgb(102, 210, 207);
$DarkGreyBlue: rgb(51, 61, 75);
$PaleOrange: rgb(253, 214, 186);
$LightCream: rgb(254, 252, 247);

$Grey: rgb(131, 136, 143);
$primary-color: #3498db;
$Black: rgb(51, 61, 75);
$lightGrey: rgb(244, 241, 235);

button {
  cursor: pointer;
}
button:hover {
  background-color: $DarkCyanClicked;
  border: none;
}
.coffee-selection-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.leftSideHardPart {
  width: 25%;
  padding: 20px;
  transition: all 0.3s;
  position: relative;

  &.sticky {
    position: sticky;
    top: 10px;
  }

  span {
    padding: 0 10px;
  }

  .pendingOption {
    color: $Grey;
  }

  .openOption {
    color: $DarkCyan;
  }

  h1 {
    border-bottom: 1px solid black;
    color: black;
    padding: 5% 0;
    text-align: left;
    font-size: 24px;
    cursor: pointer;
  }
}

.rightSideHardPart {
  flex: 1;
  min-width: 70%;
  padding: 20px;
  height: auto;

  h1 {
    font-size: 40px;
    color: $Grey;
    text-align: left;
  }

  .section {
    margin-bottom: 20px;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      width: 100%;
    }

    .title-container h1 {
      margin: 30px 0;
      font-size: 40px;
    }

    .title-container svg {
      margin-left: 8px;
      width: 20px;
      height: 20px;
      color: $DarkCyan;
    }
    .options {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: flex-start;
      transition: all 0.3s;

      &.hide {
        display: none !important;
      }
      &.show {
        display: flex !important;
      }
    }
    .bigger-text {
      font-size: 24px;
      text-align: left;
      padding-bottom: 10px;
      color: $Black;
      margin-top: -50px;
    }
    .small-text {
      font-size: 16px;
      text-align: left;
      color: $Black;
    }
    .option-button {
      display: inline-block;
      width: 30%;
      height: 250px;
      padding: 23px;
      margin: 50px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: $lightGrey;
      color: $Black;
      transition:
        background 0.3s,
        color 0.3s;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      &:hover {
        background: $PaleOrange;
        color: $Black;

        .bigger-text {
          color: $Black;
        }
        .small-text {
          color: $Black;
        }
      }

      &.selected {
        background: $DarkCyan;
        color: white;

        .bigger-text {
          color: white;
        }
        .small-text {
          color: white;
        }
      }
    }
  }

  .conclusion {
    background-image: url("/CafeProject/assets/plan/desktop/bg-order-summary.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    p {
      opacity: 0.5;
      padding: 5% 0 0 10%;
    }
    h1 {
      color: white;
      font-size: 24px;
      padding: 0px 20% 5% 10%;
      line-height: 40px;
    }
    span {
      color: $DarkCyan;
    }
  }

  .conclusionButton {
    float: right;
    margin-top: 5%;
  }
  .conclusionButton[disabled] {
    background-color: $Grey;
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
// Modal part

.dialogTitle {
  width: 100%;
  height: auto;
  background-image: url("/CafeProject/assets/plan/desktop/bg-modal-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5% 0;
  text-align: left;
  padding-right: 75px;
  padding-left: 40px;
  float: left;

  h1 {
    font-size: 40px;
    line-height: 48px;
    text-align: left;
  }
}

.dialogCenterText {
  h1 {
    color: $Grey;
    font-size: 24px;
    padding: 0 10px;
    line-height: 40px;
    text-align: left;
  }
  span {
    color: $DarkCyan;
  }
  p {
    color: $Black;
    font-size: 16px;
    line-height: 26px;
    padding: 0 10px;
  }
}
.dialogAction {
  float: left;
}
.dialogPrice {
  font-size: 32px;
  float: left;
  line-height: 36px;
  color: $Black;
  width: 100%;
  padding: 0 50px;
  text-align: left;
}

.dialogCheckout-btn {
  float: left;
  margin-right: 25%;
}

/// Responsivness

@media (max-width: 768px) {
  .coffee-selection-container {
    padding: 5px;
  }
  .leftSideHardPart {
    display: none;
  }

  .rightSideHardPart {
    width: 100%;
    padding: 0;

    .section {
      .options:last-child {
        margin-bottom: 100px;
      }
      .option-button {
        width: 100%;
        height: auto;
        margin: 10px 0;
      }
      .bigger-text {
        margin: 0;
      }

      .title-container h1 {
        font-size: 24px;
      }
    }

    .conclusion h1 {
      padding: 0 30px 30px 30px;
      font-size: 24px;
      line-height: 40px;
    }

    .conclusionButton {
      float: none;
      margin: 10% 20%;
    }
  }

  .dialogTitle {
    h1 {
      font-size: 28px;
      line-height: 32px;
    }
  }
  .dialogCenterText {
    h1 {
      font-size: 24px;
      line-height: 40px;
    }
    p {
      font-size: 15px;
      line-height: 25px;
    }
  }
  .dialogPrice {
    display: none;
  }
  .dialogCheckout-btn {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .coffee-selection-container {
    padding: 20px 0;
  }

  .leftSideHardPart {
    display: none;
  }

  .rightSideHardPart {
    padding: 0;

    .section {
      width: 100%;

      .option-button {
        margin: 50px 5px;
      }
    }
    .conclusionButton {
      transform: translateX(140%);
      margin-top: 5%;
      float: none;
    }
  }
}
